<%- include('../partials/header') %>

<h1><%= title %></h1>

<table>
  <tbody>
    <% destinations.forEach(function(d){ %>
      <tr>
        <label>Destination Details:</label>
        <td><%= d.place %></td>
        <label>Description:</label>
        <td><%= d.description %></td>
      </tr>
    <% }) %> 
  </tbody>
</table>

<%- include('../partials/footer') %>