<%- include('../partials/header') %>

<h1><%= title %></h1>

<!-- <table>
  <tbody>
    <% destinations.forEach(function(d){ %>
      <tr>
        <label>Destination:</label>
        <td><%= d.place %></td>
        <label>Description:</label>
        <td><%= d.description %></td>
        <td><a href="/destinations/<%= d._id %>">DETAILS</a></td>
        <form action="/destinations/<%= d.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </tr>
    <% }) %> 
  </tbody>
</table> -->



<% destinations.forEach(function(d){ %>
<div class="card mb-3">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title"><%= d.place %></h5>
    <h6 class="card-title">Description</h6>
    <p class="card-text"><%= d.description %></p>
  </div>
  <% if(user._id == d.createdBy) {%> 
  <form action="/destinations/<%= d.id %>?_method=DELETE" class="delete-form" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form> 
  <% } %> 
  <td><a id="details" href="/destinations/<%= d._id %>">Details</a></td>
</div>
<% }) %> 




<%- include('../partials/footer') %>