<%- include('../partials/header') %>

<section id="show-page">
<form action="/destinations/<%= destination._id %>?_method=PUT" method="POST">
    <label>Destination:</label>
    <input type="text" name="place" value="<%= destination.place %>">
    <label>Description:</label>
    <input type="text" name="description" value="<%= destination.description %>">
    <button type="submit">Update Destination</button>
</form>
</section>
<!-- start activities list -->
<!-- display activities here -->
<div>Activities:</div>
<ul>
  <%- destination.activities.map(d => 
    `<li>${d.name}</li>`
  ).join('') %>
</ul>  
<!-- end activities list -->
<!-- add to activities form below this comment -->
<form action="/destinations/<%= destination._id %>/activities" method="POST">
    <select name="activityId">
      <%- activities.map(a => 
        `<option value="${a._id}">${a.name}</option>`
      ).join('') %>
    </select>
    <button type="submit">Add to Destinations</button>
  </form>
<!-- reviews section here -->


<%- include('../partials/footer') %>